<ion-view view-title="About">
    <ion-content>
        <div class="card">
            <div class="item item-text-wrap">
                <div style="text-align:center">
                    <p><strong>ePCR</strong> is a full featured electronic Patient Care Report
                        designed to assist paramedics and other health professionals.</p>
                </div>
                <div style="margin: 20px auto; text-align:center; width: 50%; min-width: 400px">
                    <p style="margin-top: 20px">This version of ePCR is completely free. If you feel like it's helping
                        you with your daily job,
                        please consider buying me a coffee or a beer.</p>

                    <br>

                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="JM394LW93D5VJ">
                        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0"
                               name="submit" alt="PayPal - The safer, easier way to pay online!">
                        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1"
                             height="1">
                    </form>
                    <div style="height:15px"></div>
                    <p style="font-size: 12px; font-style:italic">Please note, reports are stored in
                        the browser. Some "Cleaning" software
                        can erase this data.</p>

                    <div style="height:30px"></div>
                    <p><strong>Web Application</strong> version 0.0.8 "Draco"</p>

                    <p style="text-align:center">&copy; Ganymedia 2015</p>

                    <p style="text-align:center"><a href="http://www.ganymedia.ca">www.ganymedia.ca</a></p>
                </div>
            </div>
    </ion-content>
</ion-view>
