<ion-view view-title="About">
  <ion-content>
    <div class="card">
  <div class="item item-text-wrap">
    <p><strong>ePCR</strong> is a full featured electronic Patient Care Report designed to assist paramedics and other health professionals.</p>
    <br>
    <p style="text-align:center"><strong>Web Application</strong> version 0.0.5 "Bootes"</p>
    <p style="text-align:center">Please note, reports are stored in the browser. Some "Cleaning" software can erase this data.</p>
<br>	
    <p style="text-align:center">&copy; Ganymedia 2015</p>
    <p style="text-align:center"><a href="http://www.ganymedia.ca">www.ganymedia.ca</a></p>
  </div>
</div>
  </ion-content>
</ion-view>
