<ion-nav-bar>
</ion-nav-bar>
  <ion-view view-title="Code Summary">
    <ion-nav-buttons side="primary">
      <button class="button button-icon icon ion-ios-minus-outline" ng-click="toggleDelete()"></button>
    </ion-nav-buttons>
  <ion-content>
    <ion-list show-delete="showDelete">
      <ion-item ng-repeat="code in codeList | orderBy:code.time" type="item-text-wrap">
        <h2>{{code.code}}</h2>
        <h4>{{code.time}}</h4>
        <ion-delete-button class="ion-minus-circled" ng-click="deleteItem(code.id)">
       </ion-delete-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
