<!--
<ion-nav-bar>
</ion-nav-bar>
-->
  <ion-view view-title="CODE">
  <ion-content id="codeButtons" class="padding">
   <div class="row">
     <div class="col">
      <button class="button button-block button-balanced">
        CPR Start
      </button>
     </div>
     <div class="col">
      <button class="button button-block button-assertive">
        CPR Stop
      </button>
     </div>
   </div>
   <div class="row">
     <div class="col">
      <button class="button button-block button-positive">
        Shock
      </button>
     </div>
   </div>
   <div class="row">
     <div class="col">
      <button class="button button-block button-positive">
        Vasopressin
      </button>
     </div>
     <div class="col">
      <button class="button button-block button-positive">
        Epinephrine
      </button>
     </div>
   </div>
   <div class="row">
     <div class="col">
      <button class="button button-block button-positive">
        Lidocaine
      </button>
     </div>
     <div class="col">
      <button class="button button-block button-positive">
        Amiodarone
      </button>
     </div>
   </div>
   <div class="row">
     <div class="col">
      <button class="button button-block button-positive">
        Atropine
      </button>
     </div>
   </div>
   <div class="row">
     <div class="col">
      <button class="button button-block button-positive">
        Airway
      </button>
     </div>
   </div>
   <div class="row">
     <div class="col">
      <button class="button button-block button-dark">
        ROSC
      </button>
     </div>
     <div class="col">
      <button class="button button-block button-dark">
        Pronounce
      </button>
     </div>
   </div>
  </ion-content>
</ion-view>
