<ion-view view-title="Overview">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Reports</div>
      <div class="item item-body">
        <div>
          You currently have <b>{{reportsNumber}}</b> report<span ng-show="reportsNumber > 1">s</span> on your device
        </div>
      </div>
    </div>
    <div class="list">
      <a class="item item-icon-left" ui-sref="tab.export-json">
      <i class="icon ion-paper-airplane"></i>
       Export my reports
      </a>
    </div>
  </ion-content>
</ion-view>
