<ion-nav-bar>
</ion-nav-bar>
  <ion-view view-title="Export Options">
  <ion-nav-buttons side="secondary">
      <button class="button button-clear" ng-click="export()">
         <i class="icon ion-share balanced"></i> Export
      </button>
    </ion-nav-buttons>
  <ion-content class="padding">
      <ion-list>
        <ion-item class="item-divider">
            Full/Short report
        </ion-item>
        <ion-item class="item-toggle">
         Show only assessed
         <label class="toggle toggle-balanced">
           <input type="checkbox" ng-model="short_report">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
        </ion-item>
      </ion-list>
      <br>
      <ion-list>
        <ion-item class="item-divider">
            Customize Export
        </ion-item>
        <ion-item class="item-toggle">
         Patient Info
         <label class="toggle toggle-balanced">
           <input type="checkbox" ng-model="patient_info">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
        </ion-item>
        <ion-item class="item-toggle">
         Vitals
         <label class="toggle toggle-balanced">
           <input type="checkbox" ng-model="vitals">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
        </ion-item>
        <ion-item class="item-toggle" ng-show="vitals">
         Vitals Charts
         <label class="toggle toggle-balanced">
           <input type="checkbox" ng-model="vitals_charts">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
        </ion-item>
        <ion-item class="item-toggle">
         Chief Comlpaint
         <label class="toggle toggle-balanced">
           <input type="checkbox" ng-model="chief_complaint">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
        </ion-item>
        <ion-item class="item-toggle">
         Patient History
         <label class="toggle toggle-balanced">
           <input type="checkbox" ng-model="patient_hx">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
        </ion-item>
        <ion-item class="item-toggle">
         Exam
         <label class="toggle toggle-balanced">
           <input type="checkbox" ng-model="exam">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
        </ion-item>
        <ion-item class="item-toggle">
         Procedures
         <label class="toggle toggle-balanced">
           <input type="checkbox" ng-model="procedures">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
        </ion-item>
        <ion-item class="item-toggle">
         Signatures
         <label class="toggle toggle-balanced">
           <input type="checkbox" ng-model="signatures">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
        </ion-item>
        <ion-item class="item-toggle">
         Call Info
         <label class="toggle toggle-balanced">
           <input type="checkbox" ng-model="call_info">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
        </ion-item>
        <ion-item class="item-toggle">
         Narrative
         <label class="toggle toggle-balanced">
           <input type="checkbox" ng-model="narrative">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
        </ion-item>
        <ion-item class="item-toggle">
         Code Summary
         <label class="toggle toggle-balanced">
           <input type="checkbox" ng-model="code">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
        </ion-item>
      </ion-list>
  </ion-content>
</ion-view>
