<ion-nav-bar>
</ion-nav-bar>
  <ion-view view-title="Export Options">
  <ion-nav-buttons side="secondary">
      <button class="button button-balanced icon-left icon ion-checkmark-round" ng-click="export()">
         Export
      </button>
    </ion-nav-buttons>
  <ion-content class="padding">
      <ion-list>
        <ion-item class="item-divider">
            Full/Short report
        </ion-item>
        <ion-item class="item-toggle">
         Show only assessed
         <label class="toggle">
           <input type="checkbox" ng-model="export.short_report">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
        </ion-item>
      </ion-list>
      <br>
      <ion-list>
        <ion-item class="item-divider">
            Customize Export
        </ion-item>
        <ion-item class="item-toggle">
         Patient Info
         <label class="toggle">
           <input type="checkbox" ng-model="export.patient_info">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
        </ion-item>
        <ion-item class="item-toggle">
         Vitals
         <label class="toggle">
           <input type="checkbox" ng-model="export.vitals">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
        </ion-item>
        <ion-item class="item-toggle" ng-show="export.vitals">
         Vitals Charts
         <label class="toggle">
           <input type="checkbox" ng-model="export.vitals">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
        </ion-item>
        <ion-item class="item-toggle">
         Chief Comlpaint
         <label class="toggle">
           <input type="checkbox" ng-model="export.chief_complaint">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
        </ion-item>
        <ion-item class="item-toggle">
         Patient History
         <label class="toggle">
           <input type="checkbox" ng-model="export.patient_hx">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
        </ion-item>
        <ion-item class="item-toggle">
         Exam
         <label class="toggle">
           <input type="checkbox" ng-model="export.exam">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
        </ion-item>
        <ion-item class="item-toggle">
         Procedures
         <label class="toggle">
           <input type="checkbox" ng-model="export.proedures">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
        </ion-item>
        <ion-item class="item-toggle">
         Signatures
         <label class="toggle">
           <input type="checkbox" ng-model="export.signatures">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
        </ion-item>
        <ion-item class="item-toggle">
         Call Info
         <label class="toggle">
           <input type="checkbox" ng-model="export.call_info">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
        </ion-item>
        <ion-item class="item-toggle">
         Narrative
         <label class="toggle">
           <input type="checkbox" ng-model="export.narrative">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
        </ion-item>
        <ion-item class="item-toggle">
         Code Summary
         <label class="toggle">
           <input type="checkbox" ng-model="export.code">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
        </ion-item>
      </ion-list>
  </ion-content>
</ion-view>
