<ion-nav-bar>
</ion-nav-bar>
  <ion-view view-title="Import Reports">
    <ion-nav-buttons side="secondary">
      <button class="button button-clear" ng-click="import()">
         <i class="icon ion-archive"></i> Import
      </button>
    </ion-nav-buttons>
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">How to import</div>
      <div class="item item-body">
        <div>
          Please select the file containing your electronic PCRs.
          <input type="file" custom-on-change="readFileContent"/>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
