<ion-nav-bar>
</ion-nav-bar>
  <ion-view view-title="Import Reports">
    <ion-nav-buttons side="secondary">
      <button class="button button-clear" ng-click="export()">
         <i class="icon ion-archive"></i> Import
      </button>
    </ion-nav-buttons>
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">How to import</div>
      <div class="item item-body">
        <div>
          Make sure that your file is named reports.epcr and is located at the root of your file system (same level as Documents, Downloads, etc...) then hit the Import button above.
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
