<!--
This template loads for the 'tab.patient-detail' state (app.js)
'patient' is a $scope variable created in the PatientsCtrl controller (controllers.js)
The PatientsCtrl pulls data from the Patients service (service.js)
The Patients service returns an array of friend data
-->
<ion-view view-title="Personal Info">
  <ion-content class="padding">
    <img ng-src="{{patient.face}}" style="width: 64px; height: 64px">
    <div class="list">
        <label class="item item-input">
          <span class="input-label">First Name</span>
          <input type="text" value="{{patient.info.firstName}}">
        </label>
        <label class="item item-input">
          <span class="input-label">Last Name</span>
          <input type="text" value="{{patient.info.lastName}}">
        </label>
        <label class="item item-input">
          <span class="input-label">Date of Birth</span>
          <input type="date" value="{{patient.info.dateOfBirth}}">
        </label>
        <label class="item item-input">
          <span class="input-label">Gender</span>
          <select>
              <option selected>Male</option>
              <option>Female</option>
            </select>
        </label>
        <label class="item item-input">
          <span class="input-label">Weight</span>
          <input type="number" value="{{patient.info.weight}}">
        </label>
      </div>
  </ion-content>
</ion-view>
