<!--
This template loads for the 'tab.patient-detail' state (app.js)
'patient' is a $scope variable created in the PatientsCtrl controller (controllers.js)
The PatientsCtrl pulls data from the Patients service (service.js)
The Patients service returns an array of friend data
-->
<ion-view view-title="{{patient.name}}">
  <ion-content class="padding">
    <div class="list">

      <a class="item item-icon-left" href="#/tab/patient/{{patient.id}}/info">
        <i class="icon ion-person"></i>
        Patient Info
      </a>

      <a class="item item-icon-left item-icon-right" href="#/tab/patient/{{patient.id}}/vitals">
        <i class="icon ion-ios7-pulse-strong"></i>
        Vitals
        <span class="badge badge-assertive">3</span>
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-sad"></i>
        Chief Complaint
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-clipboard"></i>
        Patient History
        <span class="badge badge-assertive">0</span>
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-medkit"></i>
        Exam
        <span class="badge badge-assertive">0</span>
      </a>
      
      <a class="item item-icon-left" href="#">
        <i class="icon ion-scissors"></i>
        Procedures
        <span class="badge badge-assertive">0</span>
      </a>
      
      <a class="item item-icon-left" href="#">
        <i class="icon ion-compose"></i>
        Signatures
        <span class="badge badge-assertive">0</span>
      </a>
      
      <a class="item item-icon-left" href="#">
        <i class="icon ion-ios7-telephone"></i>
        Call Info
        <span class="badge badge-assertive">0</span>
      </a>
      
      <a class="item item-icon-left" href="#">
        <i class="icon ion-chatboxes"></i>
        Narrative
        <span class="badge badge-assertive">0</span>
      </a>
      
      <a class="item item-icon-left" href="#">
        <i class="icon ion-person-stalker"></i>
        Code Summary
        <span class="badge badge-assertive">0</span>
      </a>
      
      <a class="item item-icon-left" href="#">
        <i class="icon ion-paper-airplane"></i>
        Export
        <span class="badge badge-assertive">0</span>
      </a>
      
    </div>
  </ion-content>
</ion-view>
