<ion-nav-bar>
</ion-nav-bar>
  <ion-view view-title="{{report.first_name}} {{report.last_name}}">
  <ion-nav-buttons side="secondary">
      <button class="button button-clear" ng-click="code()">
         <i class="icon ion-flash assertive"></i> CPR
      </button>
  </ion-nav-buttons>
  <ion-content class="padding">
    <div class="list">

      <a class="item item-icon-left item-icon-right" ui-sref="tab.personal-info({reportId: reportId})">
        <i class="icon ion-person"></i>
        Patient Info
        <i class="icon ion-checkmark-round balanced" ng-show="report.patient_info_assessed" style="font-size: 25px"></i>
      </a>

      <a class="item item-icon-left item-icon-right" ui-sref="tab.chief-complaint({reportId: reportId})">
        <i class="icon ion-sad-outline"></i>
        Chief Complaint
        <i class="icon ion-checkmark-round balanced" ng-show="report.chief_complaint_assessed" style="font-size: 25px"></i>
      </a>

      <a class="item item-icon-left item-icon-right" ui-sref="tab.patient-history({reportId: reportId})">
        <i class="icon flaticon-clinic2"></i>
        Patient History
        <i class="icon ion-checkmark-round balanced" ng-show="report.patient_hx_assessed" style="font-size: 25px"></i>
      </a>
      
      <a class="item item-icon-left item-icon-right" ui-sref="tab.vitals-list({reportId: reportId})">
        <i class="icon icon-i-cardiology"></i>
        Vitals
        <span class="badge badge-balanced">{{vitalsNumber}}</span>
      </a>

      <a class="item item-icon-left item-icon-right" ui-sref="tab.exam({reportId: reportId})">
        <i class="icon flaticon-medical14"></i>
        Exam
        <i class="icon ion-ios-arrow-forward"></i>
      </a>
      
      <a class="item item-icon-left item-icon-right" ui-sref="tab.procedures({reportId: reportId})">
        <i class="icon icon-i-physical-therapy"></i>
        Procedures
        <i class="icon ion-ios-arrow-forward"></i>
      </a>
      
      <a class="item item-icon-left item-icon-right" ui-sref="tab.signatures({reportId: reportId})">
        <i class="icon flaticon-contract11"></i>
        Signatures
        <i class="icon ion-checkmark-round balanced" ng-show="report.signature_assessed" style="font-size: 25px"></i>
      </a>
      
      <a class="item item-icon-left item-icon-right" ui-sref="tab.call-info({reportId: reportId})">
        <i class="icon flaticon-vehicle41"></i>
        Call Info
        <i class="icon ion-checkmark-round balanced" ng-show="report.call_info_assessed" style="font-size: 25px"></i>
      </a>
      
      <a class="item item-icon-left item-icon-right" ui-sref="tab.narrative-list({reportId: reportId})">
        <i class="icon ion-chatboxes"></i>
        Narrative
        <span class="badge badge-balanced">{{narrativeNumber}}</span>
      </a>
      
      <a class="item item-icon-left item-icon-right" ui-sref="tab.code-list({reportId: reportId})">
        <i class="icon ion-android-stopwatch"></i>
        CPR Summary
        <span class="badge badge-balanced">{{codeNumber}}</span>
      </a>
      
      <a class="item item-icon-left item-icon-right" ui-sref="tab.export({reportId: reportId})">
        <i class="icon ion-printer"></i>
        Print PDF
        <i class="icon ion-ios-arrow-forward"></i>
      </a>
      
    </div>
  </ion-content>
</ion-view>
