<ion-nav-bar>
</ion-nav-bar>
  <ion-view view-title="Reports">
    <ion-nav-buttons side="primary">
      <button class="button button-icon icon ion-ios-minus-outline" ng-click="toggleDelete()"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="secondary">
      <button class="button button-clear button-balanced" ng-click="addReport()">
         <i class="icon ion-ios-plus-outline"></i> New
      </button>
    </ion-nav-buttons>
  <ion-content>
    <ion-list show-delete="showDelete">
      <ion-item class="item-icon-left" ng-repeat="report in reports" type="item-text-wrap" ui-sref="tab.report-detail({reportId:report.id})">
        <i class="icon" ng-class="report.gender == 'Female' ? 'ion-woman':'ion-man'"></i>
        <h2>{{report.first_name}} {{report.last_name}}</h2>
        <h4>Created on {{report.created}}</h4>
        <ion-delete-button class="ion-minus-circled" ng-click="deleteReport(report.id)">
       </ion-delete-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
