<!--
This template loads for the 'tab.patient-detail' state (app.js)
'patient' is a $scope variable created in the PatientsCtrl controller (controllers.js)
The PatientsCtrl pulls data from the Patients service (service.js)
The Patients service returns an array of friend data
-->
<ion-view view-title="{{report.first_name}} {{report.last_name}}">
  <ion-content class="padding">
    <div class="list">

      <a class="item item-icon-left item-icon-right" href="#/tab/report/{{report.id}}/info">
        <i class="icon ion-person"></i>
        Patient Info
        <i class="icon ion-checkmark-round" ng-show="report.patient_info_assessed" style="font-size: 25px"></i>
      </a>

      <a class="item item-icon-left item-icon-right" href="#/tab/report/{{report.id}}/vitals">
        <i class="icon ion-ios7-pulse-strong"></i>
        Vitals
        <span class="badge badge-assertive">{{vitalsNumber}}</span>
      </a>

      <a class="item item-icon-left item-icon-right" href="#/tab/report/{{report.id}}/chief-complaint">
        <i class="icon ion-sad-outline"></i>
        Chief Complaint
        <i class="icon ion-checkmark-round" ng-show="report.chief_complaint_assessed" style="font-size: 25px"></i>
      </a>

      <a class="item item-icon-left item-icon-right" href="#/tab/report/{{report.id}}/patient-history">
        <i class="icon ion-clipboard"></i>
        Patient History
        <i class="icon ion-checkmark-round" ng-show="report.patient_hx_assessed" style="font-size: 25px"></i>
      </a>

      <a class="item item-icon-left item-icon-right" href="#/tab/report/{{report.id}}/exam">
        <i class="icon ion-medkit"></i>
        Exam
        <i class="icon ion-checkmark-round" style="font-size: 25px" ng-show="report.abc_assessed
         || report.trauma_auto_assessed
           || report.trauma_penetrating_assessed
             || report.trauma_blunt_assessed
               || report.trauma_fall_assessed
                 || report.trauma_burn_assessed"></i>
      </a>
      
      <a class="item item-icon-left item-icon-right" href="#/tab/report/{{report.id}}/procedures">
        <i class="icon ion-scissors"></i>
        Procedures
        <i class="icon ion-checkmark-round" style="font-size: 25px"></i>
      </a>
      
      <a class="item item-icon-left item-icon-right" href="#">
        <i class="icon ion-compose"></i>
        Signatures
        <i class="icon ion-checkmark-round" style="font-size: 25px"></i>
      </a>
      
      <a class="item item-icon-left item-icon-right" href="#">
        <i class="icon ion-ios7-telephone"></i>
        Call Info
        <i class="icon ion-checkmark-round" style="font-size: 25px"></i>
      </a>
      
      <a class="item item-icon-left item-icon-right" href="#">
        <i class="icon ion-chatboxes"></i>
        Narrative
        <i class="icon ion-checkmark-round" style="font-size: 25px"></i>
      </a>
      
      <a class="item item-icon-left item-icon-right" href="#">
        <i class="icon ion-person-stalker"></i>
        Code Summary
        <i class="icon ion-checkmark-round" style="font-size: 25px"></i>
      </a>
      
      <a class="item item-icon-left item-icon-right" href="#">
        <i class="icon ion-paper-airplane"></i>
        Export
        <i class="icon ion-checkmark-round" style="font-size: 25px"></i>
      </a>
      
    </div>
  </ion-content>
</ion-view>
