<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon tabs-dark">


  <!-- Dashboard Tab -->
  <ion-tab title="Home" icon-off="ion-ios-home" icon-on="ion-ios-home positive" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>
  

  <!-- Patients Tab -->
  <ion-tab title="Reports" icon-off="ion-person-stalker" icon-on="ion-person-stalker positive" href="#/tab/reports">
    <ion-nav-view name="tab-reports"></ion-nav-view>
  </ion-tab>
  
  <!-- Search Tab -->
  <ion-tab title="Search" icon-off="ion-ios-search-strong" icon-on="ion-ios-search-strong positive" href="#/tab/search">
    <ion-nav-view name="tab-search"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Settings" icon-off="ion-android-options" icon-on="ion-android-options positive" href="#/tab/settings">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>
  

  <!-- About Tab -->
  <ion-tab title="About" icon-off="ion-ios-information-outline" icon-on="ion-ios-information-outline positive" href="#/tab/about">
    <ion-nav-view name="tab-about"></ion-nav-view>
  </ion-tab>


</ion-tabs>
