<ion-nav-bar>
</ion-nav-bar>
  <ion-view view-title="Vitals Records">
    <ion-nav-buttons side="secondary">
     <button class="button button-icon icon ion-ios-minus-outline" ng-click="toggleDelete()"></button>
      <button class="button button-dark" go-click="tab/report/{{reportId}}/vitals/charts">
         Charts
      </button>
      <button class="button button-balanced icon-left ion-plus-round" ng-click="addItem()">
         Add Vitals
      </button>
    </ion-nav-buttons>
  <ion-content>
    <ion-list show-delete="showDelete">
      <ion-item ng-repeat="vitals in list" type="item-text-wrap" href="#/tab/report/{{reportId}}/vitals/{{vitals.id}}">
        <h2>{{vitals.created}}</h2>
        <h4>HR:{{vitals.hr}} bpm, Sys/Dia:{{vitals.sys}}/{{vitals.dia}}</h4>
        <ion-delete-button class="ion-minus-circled" ng-click="deleteItem(vitals.id)">
       </ion-delete-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
