<ion-nav-bar>
</ion-nav-bar>
  <ion-view view-title="ABC">
  <ion-nav-buttons side="secondary">
      <button class="button button-clear" ng-click="save(true)">
         <i class="icon ion-ios-checkmark-outline"></i> Save
      </button>
    </ion-nav-buttons>
  <ion-content class="padding">
    <div class="button-bar bar-calm">
      <a class="button" ng-class="{'active' : activeButton == 1}" ng-click="switchTab(1)">Airway</a>
      <a class="button" ng-class="{'active' : activeButton == 2}" ng-click="switchTab(2)">Breathing</a>
      <a class="button" ng-class="{'active' : activeButton == 3}" ng-click="switchTab(3)">Circulation</a>
    </div>
    <br>
    <ion-list ng-show="activeButton == 1">
     <ion-item class="item-divider">
       Airway
     </ion-item>
      <ion-item class="item-toggle">
        Open and Patent
        <label class="toggle toggle-balanced">
           <input type="checkbox" ng-model="abc.open_patent">
           <div class="track">
             <div class="handle"></div>
           </div>
        </label>
      </ion-item>
      <ion-item class="item-toggle">
        Tracheal Deviation
        <label class="toggle toggle-balanced">
           <input type="checkbox" ng-model="abc.tracheal_deviation">
           <div class="track">
             <div class="handle"></div>
           </div>
        </label>
      </ion-item>
      <ion-item class="item item-input item-select" ng-show="abc.tracheal_deviation">
        <div class="input-label">Tracheal Deviation Side</div>
          <select ng-model="abc.tracheal_deviation_side">
            <option value="0">Left</option>
            <option value="1">Right</option>
          </select>
      </ion-item>
      <ion-item class="item-toggle" >
        Interventions
         <label class="toggle toggle-balanced">
           <input type="checkbox" ng-model="abc.interventions">
           <div class="track">
             <div class="handle"></div>
           </div>
        </label>
      </ion-item>
    </ion-list>
    
    <ion-list ng-show="activeButton == 2">
     <ion-item class="item-divider">
       Breathing
     </ion-item>
      <ion-item class="item item-input item-select">
        <div class="input-label">Breathing Type</div>
        <select ng-model="abc.breathing_type">
          <option>Regular</option>
          <option>Irregular</option>
          <option>Kussmaul</option>
          <option>Cheyne-Stokes</option>
          <option>Biot's</option>
          <option>Absent</option>
        </select>
      </ion-item>
      <ion-item class="item-toggle">
        Laboured
        <label class="toggle toggle-balanced">
           <input type="checkbox" ng-model="abc.breathing_laboured">
           <div class="track">
             <div class="handle"></div>
           </div>
        </label>
      </ion-item>
      <ion-item class="item-toggle">
        Effective
        <label class="toggle toggle-balanced">
           <input type="checkbox" ng-model="abc.breathing_effective">
           <div class="track">
             <div class="handle"></div>
           </div>
        </label>
      </ion-item>
      <ion-item class="item-toggle">
        Accessory Muscle
        <label class="toggle toggle-balanced">
           <input type="checkbox" ng-model="abc.accessory_muscle">
           <div class="track">
             <div class="handle"></div>
           </div>
        </label>
      </ion-item>
      <ion-item class="item-toggle">
        Nasal Flare
        <label class="toggle toggle-balanced">
           <input type="checkbox" ng-model="abc.nasal_flare">
           <div class="track">
             <div class="handle"></div>
           </div>
        </label>
      </ion-item>
      <ion-item class="item-toggle">
        Cough
        <label class="toggle toggle-balanced">
           <input type="checkbox" ng-model="abc.cough">
           <div class="track">
             <div class="handle"></div>
           </div>
        </label>
      </ion-item>
      <ion-item class="item-toggle" ng-show="abc.cough">
        Productive
        <label class="toggle toggle-balanced">
           <input type="checkbox" ng-model="abc.cough_productive">
           <div class="track">
             <div class="handle"></div>
           </div>
        </label>
      </ion-item>
      <ion-item class="item-toggle">
        Subcut. Emphysema
        <label class="toggle toggle-balanced">
           <input type="checkbox" ng-model="abc.subcutaneous_emphysema">
           <div class="track">
             <div class="handle"></div>
           </div>
        </label>
      </ion-item>
      <ion-item class="item-toggle">
        Flailed Chest
        <label class="toggle toggle-balanced">
           <input type="checkbox" ng-model="abc.flailed_chest">
           <div class="track">
             <div class="handle"></div>
           </div>
        </label>
      </ion-item>
       <ion-item class="item item-input item-select" ng-show="abc.flailed_chest">
        <div class="input-label">Flailed Chest Side</div>
        <select ng-model="abc.flailed_chest_side">
          <option value="0">Left</option>
          <option value="1">Right</option>
        </select>
      </ion-item>
      <ion-item class="item-toggle">
        Suspect Pneumothorax
        <label class="toggle toggle-balanced">
           <input type="checkbox" ng-model="abc.suspect_pneumothorax">
           <div class="track">
             <div class="handle"></div>
           </div>
        </label>
      </ion-item>
      <ion-item class="item-toggle">
        Suspect Hemothorax
        <label class="toggle toggle-balanced">
           <input type="checkbox" ng-model="abc.suspect_hemothorax">
           <div class="track">
             <div class="handle"></div>
           </div>
        </label>
      </ion-item>
      <ion-item class="item-toggle">
        CTA x4
        <label class="toggle toggle-balanced">
           <input type="checkbox" ng-model="abc.ctax4">
           <div class="track">
             <div class="handle"></div>
           </div>
        </label>
      </ion-item>
      <ion-item class="item item-input item-select" ng-show="!abc.ctax4">
        <div class="input-label">Upper Left</div>
        <select ng-model="abc.lung_ul_sound">
          <option>Clear</option>
          <option>Rales</option>
          <option>Rhonchi</option>
          <option>Wheezing</option>
          <option>Stridor</option>
          <option>Diminshed</option>
          <option>Absent</option>
          <option>Bronchial Breath Sounds</option>
        </select>
      </ion-item>
      <ion-item class="item item-input item-select" ng-show="!abc.ctax4">
        <div class="input-label">Upper Right</div>
        <select ng-model="abc.lung_ur_sound">
          <option>Clear</option>
          <option>Rales</option>
          <option>Rhonchi</option>
          <option>Wheezing</option>
          <option>Stridor</option>
          <option>Diminshed</option>
          <option>Absent</option>
          <option>Bronchial Breath Sounds</option>
        </select>
      </ion-item>
      <ion-item class="item item-input item-select" ng-show="!abc.ctax4">
        <div class="input-label">Lower Left</div>
        <select ng-model="abc.lung_ll_sound">
          <option>Clear</option>
          <option>Rales</option>
          <option>Rhonchi</option>
          <option>Wheezing</option>
          <option>Stridor</option>
          <option>Diminshed</option>
          <option>Absent</option>
          <option>Bronchial Breath Sounds</option>
        </select>
      </ion-item>
      <ion-item class="item item-input item-select" ng-show="!abc.ctax4">
        <div class="input-label">Lower Right</div>
        <select ng-model="abc.lung_lr_sound">
          <option>Clear</option>
          <option>Rales</option>
          <option>Rhonchi</option>
          <option>Wheezing</option>
          <option>Stridor</option>
          <option>Diminshed</option>
          <option>Absent</option>
          <option>Bronchial Breath Sounds</option>
        </select>
      </ion-item>
    </ion-list>
    <div ng-show="activeButton == 3">
    <ion-list>
     <ion-item class="item-divider">
       Circulation
     </ion-item>
      <ion-item class="item item-input item-select">
        <div class="input-label">Pulse Location</div>
        <select ng-model="abc.pulse_location">
          <option>Radial</option>
          <option>Brachial</option>
          <option>Carotid</option>
          <option>Femoral</option>
          <option>Pedal</option>
        </select>
      </ion-item>
      <ion-item class="item item-input item-select">
        <div class="input-label">Pulse Quality</div>
        <select ng-model="abc.pulse_quality">
          <option>Strong</option>
          <option>Weak</option>
          <option>Bounding</option>
          <option>Thready</option>
        </select>
      </ion-item>
      <ion-item class="item-toggle">
        Pulse is regular
        <label class="toggle toggle-balanced">
           <input type="checkbox" ng-model="abc.pulse_regular">
           <div class="track">
             <div class="handle"></div>
           </div>
        </label>
      </ion-item>
      <ion-item class="item-toggle">
        JVD
        <label class="toggle toggle-balanced">
           <input type="checkbox" ng-model="abc.jvd">
           <div class="track">
             <div class="handle"></div>
           </div>
        </label>
      </ion-item>
      <ion-item class="item item-input item-select">
        <div class="input-label">Capillary Refill</div>
        <select ng-model="abc.cap_refill">
          <option>Brisk</option>
          <option>Delayed</option>
        </select>
      </ion-item>
      <ion-item class="item item-input item-select">
        <div class="input-label">Skin Color</div>
        <select ng-model="abc.skin_color">
          <option>Normal</option>
          <option>Pale</option>
          <option>Flushed</option>
          <option>Jaundice</option>
        </select>
      </ion-item>
      <ion-item class="item item-input item-select">
        <div class="input-label">Skin Temperature</div>
        <select ng-model="abc.skin_temperature">
          <option>Warm</option>
          <option>Hot</option>
          <option>Cool</option>
          <option>Cold</option>
        </select>
      </ion-item>
      <ion-item class="item item-input item-select">
        <div class="input-label">Skin Condition</div>
        <select ng-model="abc.skin_condition">
          <option>Dry</option>
          <option>Diaphoretic</option>
        </select>
      </ion-item>
    </ion-list>
    <br>
    <ion-list>
       <ion-item class="item-divider">
         Heart
       </ion-item>
      <ion-item class="item item-input item-select">
        <div class="input-label">Heart Tones</div>
        <select ng-model="abc.heart_tones">
          <option>Normal</option>
          <option>S3</option>
          <option>S4</option>
          <option>Murmur</option>
          <option>Rub</option>
          <option>Gallop</option>
        </select>
      </ion-item>
      <ion-item class="item item-input item-select">
        <div class="input-label">Heart Tones Quality</div>
        <select ng-model="abc.heart_tones_quality">
          <option>Clear</option>
          <option>Muffled</option>
        </select>
      </ion-item>
    </ion-list>
    <br>
    <ion-list>
       <ion-item class="item-divider">
         Edema
       </ion-item>
       <ion-item class="item-toggle">
        Peripheral Edema
        <label class="toggle toggle-balanced">
           <input type="checkbox" ng-model="abc.peripheral_edema">
           <div class="track">
             <div class="handle"></div>
           </div>
        </label>
      </ion-item>
      <ion-item class="item item-input item-select" ng-show="abc.peripheral_edema">
        <div class="input-label">Edema Location</div>
        <select ng-model="abc.peripheral_edema_location">
          <optgroup label="Lower Extremities"> 
              <option>Ankle</option>
              <option>Mid Calf</option>
              <option>Knee</option>
          </optgroup><optgroup label="Upper Extremities"> 
              <option>Fingers</option>
              <option>Hand</option>
              <option>Wrist</option>
              <option>Mid Forearm</option>
              <option>Elbow</option>
          </optgroup><optgroup label="Pulmonary"> 
              <option>Bases</option>
              <option>Lower Lobes</option>
              <option>Midway</option>
              <option>Upper Lobes</option>
              <option>Apex</option>
          </optgroup><optgroup label="Facial"> 
              <option>Face</option>
              <option>Eyes</option>
              <option>Mouth</option>
              <option>Throat</option>
        </select>
      </ion-item>
      <ion-item class="item item-input item-select" ng-show="abc.peripheral_edema">
        <div class="input-label">Edema Severity</div>
        <select ng-model="abc.peripheral_edema_severity">
          <option>Non Pitting</option>
          <option>+1</option>
          <option>+2</option>
          <option>+3</option>
          <option>+4</option>
        </select>
      </ion-item>
    </ion-list>
    </div>
    
    <button class="button button-block button-positive" ng-show="activeButton == 1 && abc.interventions" ng-click="airwayProcedures()">
      Airway Procedures
    </button>
  </ion-content>
</ion-view>
