<ion-nav-bar>
</ion-nav-bar>
<ion-view view-title="Auto">
  <ion-nav-buttons side="secondary">
    <button class="button button-clear" ng-click="save()">
      <i class="icon ion-ios-checkmark-outline"></i> Save
    </button>
  </ion-nav-buttons>
  <ion-content class="padding">
    <ion-list>
      <ion-item class="item-input item-select">
        <span class="input-label">Vehicle</span>
        <select ng-model="auto.trauma_auto_vehicle">
          <option>Car</option>
          <option>Minivan</option>
          <option>Light truck</option>
          <option>R.V.</option>
          <option>Semi truck</option>
          <option>Motorcycle</option>
          <option>Sidecar</option>
          <option>ATV</option>
          <option>Snowmobile</option>
        </select>
      </ion-item>
      <ion-item>
        <span class="label left">Seat where patient was seated</span>
        <div id="car_outline" ng-show="auto.trauma_auto_vehicle == 'Car'
       || auto.trauma_auto_vehicle == 'Minivan'">
          <div class="car_front_wheels"></div>
          <div class="car_rear_wheels"></div>
          <div class="car_hood"></div>
          <div class="car_left_light"></div>
          <div class="car_right_light"></div>
          <div id="car_seats">
            <div class="car1" ng-class="{'active': 'car1' == auto.trauma_auto_seat}" ng-click="toggleSeat('car1')"></div>
            <div class="car2" ng-class="{'active': 'car2' == auto.trauma_auto_seat}" ng-click="toggleSeat('car2')" ng-click="toggleSeat('car2')"></div>
            <div class="car3" ng-class="{'active': 'car3' == auto.trauma_auto_seat}" ng-click="toggleSeat('car3')" ng-click="toggleSeat('car3')"></div>
            <div class="car4" ng-class="{'active': 'car4' == auto.trauma_auto_seat}" ng-click="toggleSeat('car4')" ng-click="toggleSeat('car4')"></div>
            <div class="car5" ng-class="{'active': 'car5' == auto.trauma_auto_seat}" ng-click="toggleSeat('car5')" ng-click="toggleSeat('car5')"></div>
            <div class="car6" ng-class="{'active': 'car6' == auto.trauma_auto_seat}" ng-click="toggleSeat('car6')" ng-click="toggleSeat('car6')"></div>
          </div>
          <div class="car_steering_wheel" id="car_steering_wheel"></div>
        </div>
        <div id="truck_outline" ng-show="auto.trauma_auto_vehicle == 'Light truck'
       || auto.trauma_auto_vehicle == 'R.V.'
       || auto.trauma_auto_vehicle == 'Semi truck'">
          <div class="truck_front_wheels"></div>
          <div class="truck_rear_wheels"></div>
          <div class="truck_body"></div>
          <div class="truck_box" ng-hide="auto.trauma_auto_vehicle == 'R.V.' || auto.trauma_auto_vehicle == 'Semi truck'"></div>
          <div class="truck_hood" ng-hide="auto.trauma_auto_vehicle == 'R.V.'"></div>
          <div class="truck_left_light"></div>
          <div class="truck_right_light"></div>
          <div id="truck_seats">
            <div class="truck1" ng-class="{'active': 'truck1' == auto.trauma_auto_seat}" ng-click="toggleSeat('truck1')"></div>
            <div class="truck2" ng-class="{'active': 'truck2' == auto.trauma_auto_seat}" ng-click="toggleSeat('truck2')" ng-click="toggleSeat('truck2')"></div>
            <div class="truck3" ng-class="{'active': 'truck3' == auto.trauma_auto_seat}" ng-click="toggleSeat('truck3')" ng-click="toggleSeat('truck3')"></div>
          </div>
          <div class="truck_steering_wheel" id="truck_steering_wheel"></div>
        </div>
        <div id="motorcycle_outline" ng-show="auto.trauma_auto_vehicle == 'Motorcycle' || auto.trauma_auto_vehicle == 'Sidecar'">
          <div class="moto_side_wheel_axe" ng-show="auto.trauma_auto_vehicle == 'Sidecar'"></div>
          <div class="moto_wheels"></div>
          <div class="moto_body"></div>
          <div class="moto_light"></div>
          <div class="moto_cache_light"></div>
          <div class="moto_handle"></div>
          <div class="moto_side_wheel" ng-show="auto.trauma_auto_vehicle == 'Sidecar'"></div>
          <div class="moto_side" ng-show="auto.trauma_auto_vehicle == 'Sidecar'"></div>
          <div id="motorcycle_seats">
            <div class="motorcycle1" ng-class="{'active': 'motorcycle1' == auto.trauma_auto_seat}" ng-click="toggleSeat('motorcycle1')"></div>
            <div class="motorcycle2" ng-class="{'active': 'motorcycle2' == auto.trauma_auto_seat}" ng-click="toggleSeat('motorcycle2')"></div>
            <div class="motorcycle3" ng-class="{'active': 'motorcycle3' == auto.trauma_auto_seat}" ng-click="toggleSeat('motorcycle3')" ng-show="auto.trauma_auto_vehicle == 'Sidecar'"></div>
          </div>
        </div>
      </ion-item>
      <ion-item class="item-toggle" ng-show="auto.trauma_auto_vehicle == 'Car'
        || auto.trauma_auto_vehicle == 'Minivan'
        || auto.trauma_auto_vehicle == 'Light truck'
        || auto.trauma_auto_vehicle == 'R.V.'
        || auto.trauma_auto_vehicle == 'Semi truck'">
        Seatbelt
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-model="auto.trauma_auto_seatbelt">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </ion-item>
      <ion-item class="item-toggle" ng-show="auto.trauma_auto_vehicle == 'Car'
        || auto.trauma_auto_vehicle == 'Minivan'
        || auto.trauma_auto_vehicle == 'Light truck'
        || auto.trauma_auto_vehicle == 'R.V.'
        || auto.trauma_auto_vehicle == 'Semi truck'">
        Airbag Deployed
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-model="auto.trauma_auto_airbag">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </ion-item>
      <ion-item class="item-toggle" ng-show="auto.trauma_auto_vehicle == 'Motorcycle'
        || auto.trauma_auto_vehicle == 'Sidecar'
        || auto.trauma_auto_vehicle == 'ATV'
        || auto.trauma_auto_vehicle == 'Snowmobile'">
        Helmet
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-model="auto.trauma_auto_helmet">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </ion-item>
      <ion-item class="item-toggle" ng-show="auto.trauma_auto_vehicle == 'Motorcycle'
        || auto.trauma_auto_vehicle == 'Sidecar'
        || auto.trauma_auto_vehicle == 'ATV'
        || auto.trauma_auto_vehicle == 'Snowmobile'">
        Leathers
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-model="auto.trauma_auto_leathers">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </ion-item>
      <ion-item class="item-input">
        <span class="input-label">Nb of Occupants</span>
        <input type="number" ng-model="auto.trauma_auto_nb_occupants" placeholder="# of Occupants">
      </ion-item>
      <ion-item class="item-input item-select">
        <span class="input-label">Speed</span>
        <input type="number" ng-model="auto.trauma_auto_vehicle_speed" placeholder="# of Occupants">
        <select ng-model="auto.trauma_auto_speed_unit">
          <option value="0">kph</option>
          <option value="1">mph</option>
        </select>
      </ion-item>
      <ion-item class="item-input item-select">
        <span class="input-label">Patient removed by</span>
        <select ng-model="auto.trauma_auto_removed_by">
          <option>Driver</option>
          <option>Passenger</option>
          <option>Bystander</option>
          <option>Police</option>
        </select>
      </ion-item>
      <ion-item class="item-input item-select">
        <span class="input-label">Details given by</span>
        <select ng-model="auto.trauma_auto_details_per">
          <option>Driver</option>
          <option>Passenger</option>
          <option>Bystander</option>
          <option>Police</option>
        </select>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>