<ion-nav-bar>
</ion-nav-bar>
<ion-view view-title="Auto">
  <ion-nav-buttons side="secondary">
    <button class="button button-clear" ng-click="save()">
      <i class="icon ion-ios-checkmark-outline"></i> Save
    </button>
  </ion-nav-buttons>
  <ion-content class="padding">
    <ion-list>
      <ion-item class="item-input item-select">
        <span class="input-label">Vehicle</span>
        <select ng-model="auto.trauma_auto_vehicle">
          <option>Car</option>
          <option>Minivan</option>
          <option>Light truck</option>
          <option>R.V.</option>
          <option>Semi truck</option>
          <option>Motorcycle</option>
          <option>Sidecar</option>
          <option>ATV</option>
          <option>Snowmobile</option>
        </select>
      </ion-item>
      <ion-item class="vehicles">
        <span class="label">Seat where patient was seated</span>
        <div ng-show="auto.trauma_auto_vehicle == 'Car' || auto.trauma_auto_vehicle == 'Minivan'">
          <div class="car-front-wheels"></div>
          <div class="car-rear-wheels"></div>
          <div class="car-hood"></div>
          <div class="car-left-light"></div>
          <div class="car-right-light"></div>
          <div class="car-seats">
            <div id="car1" class="seat front left" ng-class="{'active': 'car1' == auto.trauma_auto_seat}" ng-click="toggleSeat($event)"></div>
            <div id="car2" class="seat front right" ng-class="{'active': 'car2' == auto.trauma_auto_seat}" ng-click="toggleSeat($event)"></div>
            <div id="car3" class="seat middle left" ng-class="{'active': 'car3' == auto.trauma_auto_seat}" ng-click="toggleSeat($event)"></div>
            <div id="car4" class="seat middle right" ng-class="{'active': 'car4' == auto.trauma_auto_seat}" ng-click="toggleSeat($event)"></div>
            <div id="car5" class="seat rear left" ng-class="{'active': 'car5' == auto.trauma_auto_seat}" ng-click="toggleSeat($event)"></div>
            <div id="car6" class="seat rear right" ng-class="{'active': 'car6' == auto.trauma_auto_seat}" ng-click="toggleSeat($event)"></div>
          </div>
          <div class="car-steering-wheel"></div>
        </div>
        <div ng-show="auto.trauma_auto_vehicle == 'Light truck'
         || auto.trauma_auto_vehicle == 'R.V.'
         || auto.trauma_auto_vehicle == 'Semi truck'">
          <div class="truck-front-wheels"></div>
          <div class="truck-rear-wheels"></div>
          <div class="truck-body"></div>
          <div class="truck-semi-body" ng-show="auto.trauma_auto_vehicle == 'Semi truck'"></div>
          <div class="truck-box" ng-show="auto.trauma_auto_vehicle == 'Light truck'"></div>
          <div class="truck-hood" ng-hide="auto.trauma_auto_vehicle == 'R.V.'"></div>
          <div class="truck-left-light"></div>
          <div class="truck-right-light"></div>
          <div class="truck-seats">
            <div id="truck1" class="seat front left" ng-class="{'active': 'truck1' == auto.trauma_auto_seat}" ng-click="toggleSeat($event)"></div>
            <div id="truck2" class="seat front center" ng-class="{'active': 'truck2' == auto.trauma_auto_seat}" ng-click="toggleSeat($event)"></div>
            <div id="truck3" class="seat front right" ng-class="{'active': 'truck3' == auto.trauma_auto_seat}" ng-click="toggleSeat($event)"></div>
          </div>
          <div class="truck-steering-wheel"></div>
        </div>
        <div ng-show="auto.trauma_auto_vehicle == 'Motorcycle' || auto.trauma_auto_vehicle == 'Sidecar'">
          <div class="moto-side-wheel-axe" ng-show="auto.trauma_auto_vehicle == 'Sidecar'"></div>
          <div class="moto-wheels"></div>
          <div class="moto-body"></div>
          <div class="moto-light"></div>
          <div class="moto-cache-light"></div>
          <div class="moto-handle"></div>
          <div class="moto-side-wheel" ng-show="auto.trauma_auto_vehicle == 'Sidecar'"></div>
          <div class="moto-side" ng-show="auto.trauma_auto_vehicle == 'Sidecar'"></div>
          <div class="motorcycle-seats">
            <div id="motorcycle1" class="seat front" ng-class="{'active': 'motorcycle1' == auto.trauma_auto_seat}" ng-click="toggleSeat($event)"></div>
            <div id="motorcycle2" class="seat rear" ng-class="{'active': 'motorcycle2' == auto.trauma_auto_seat}" ng-click="toggleSeat($event)"></div>
            <div id="motorcycle3" class="seat side" ng-class="{'active': 'motorcycle3' == auto.trauma_auto_seat}" ng-click="toggleSeat($event)" ng-show="auto.trauma_auto_vehicle == 'Sidecar'"></div>
          </div>
        </div>
        <div ng-show="auto.trauma_auto_vehicle == 'Snowmobile'">
          <div class="snowmobile-ski-left"></div>
          <div class="snowmobile-ski-right"></div>
          <div class="snowmobile-axis"></div>
          <div class="snowmobile-belt"></div>
          <div class="snowmobile-body-rear"></div>
          <div class="snowmobile-body-front"></div>
          <div class="snowmobile-light"></div>
          <div class="snowmobile-cache-light"></div>
          <div class="snowmobile-handle"></div>
          <div class="snowmobile-seats">
            <div id="snowmobile1" class="seat front" ng-class="{'active': 'snowmobile1' == auto.trauma_auto_seat}" ng-click="toggleSeat($event)"></div>
            <div id="snowmobile2" class="seat rear" ng-class="{'active': 'snowmobile2' == auto.trauma_auto_seat}" ng-click="toggleSeat($event)"></div>
          </div>
        </div>
        <div ng-show="auto.trauma_auto_vehicle == 'ATV'">
          <div class="atv-front-wheels"></div>
          <div class="atv-rear-wheels"></div>
          <div class="atv-body"></div>
          <div class="atv-body-front"></div>
          <div class="atv-body-rear"></div>
          <div class="atv-left-light"></div>
          <div class="atv-left-cache-light"></div>
          <div class="atv-right-light"></div>
          <div class="atv-right-cache-light"></div>
          <div class="atv-handle"></div>
          <div class="atv-seats">
            <div id="atv1" class="seat front" ng-class="{'active': 'atv1' == auto.trauma_auto_seat}" ng-click="toggleSeat($event)"></div>
            <div id="atv2" class="seat rear" ng-class="{'active': 'atv2' == auto.trauma_auto_seat}" ng-click="toggleSeat($event)"></div>
          </div>
        </div>
      </ion-item>
      <ion-item class="item-toggle" ng-show="auto.trauma_auto_vehicle == 'Car'
        || auto.trauma_auto_vehicle == 'Minivan'
        || auto.trauma_auto_vehicle == 'Light truck'
        || auto.trauma_auto_vehicle == 'R.V.'
        || auto.trauma_auto_vehicle == 'Semi truck'">
        Seatbelt
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-model="auto.trauma_auto_seatbelt">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </ion-item>
      <ion-item class="item-toggle" ng-show="auto.trauma_auto_vehicle == 'Car'
        || auto.trauma_auto_vehicle == 'Minivan'
        || auto.trauma_auto_vehicle == 'Light truck'
        || auto.trauma_auto_vehicle == 'R.V.'
        || auto.trauma_auto_vehicle == 'Semi truck'">
        Airbag Deployed
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-model="auto.trauma_auto_airbag">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </ion-item>
      <ion-item class="item-toggle" ng-show="auto.trauma_auto_vehicle == 'Motorcycle'
        || auto.trauma_auto_vehicle == 'Sidecar'
        || auto.trauma_auto_vehicle == 'ATV'
        || auto.trauma_auto_vehicle == 'Snowmobile'">
        Helmet
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-model="auto.trauma_auto_helmet">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </ion-item>
      <ion-item class="item-toggle" ng-show="auto.trauma_auto_vehicle == 'Motorcycle'
        || auto.trauma_auto_vehicle == 'Sidecar'
        || auto.trauma_auto_vehicle == 'ATV'
        || auto.trauma_auto_vehicle == 'Snowmobile'">
        Leathers
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-model="auto.trauma_auto_leathers">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </ion-item>
      <ion-item class="item-input">
        <span class="input-label">Nb of Occupants</span>
        <input type="number" ng-model="auto.trauma_auto_nb_occupants" placeholder="# of Occupants">
      </ion-item>
      <ion-item class="item-input item-select">
        <span class="input-label">Speed</span>
        <input type="number" ng-model="auto.trauma_auto_vehicle_speed" placeholder="# of Occupants">
        <select ng-model="auto.trauma_auto_speed_unit">
          <option value="0">kph</option>
          <option value="1">mph</option>
        </select>
      </ion-item>
      <ion-item class="item-input item-select">
        <span class="input-label">Patient removed by</span>
        <select ng-model="auto.trauma_auto_removed_by">
          <option>Driver</option>
          <option>Passenger</option>
          <option>Bystander</option>
          <option>Police</option>
        </select>
      </ion-item>
      <ion-item class="item-input item-select">
        <span class="input-label">Details given by</span>
        <select ng-model="auto.trauma_auto_details_per">
          <option>Driver</option>
          <option>Passenger</option>
          <option>Bystander</option>
          <option>Police</option>
        </select>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>