<ion-view view-title="Exam">
  <ion-content class="padding">
    <div class="list">

      <a class="item item-icon-left item-icon-right" href="#/tab/report/{{report.id}}/exam/neuro">
      <i class="icon icon-i-neurology"></i>
       Neuro
        <span class="badge badge-balanced">{{neuroNumber}}</span>
      </a>
      <a class="item item-icon-left item-icon-right" href="#/tab/report/{{report.id}}/exam/abc">
       <i class="icon icon-i-ear-nose-throat"></i>
        ABC
        <i class="icon ion-checkmark-round balanced" ng-show="report.abc_assessed" style="font-size: 25px"></i>
      </a>
      <a class="item item-icon-left item-icon-right" href="#/tab/report/{{report.id}}/exam/trauma">
       <i class="icon flaticon-xray2"></i>
        Trauma
         <i class="icon ion-ios-arrow-forward"></i>
      </a>
      <a class="item item-icon-left item-icon-right" href="#/tab/report/{{report.id}}/exam/gi">
       <i class="icon icon-i-internal-medicine"></i>
        Gastrointestinal
        <i class="icon ion-checkmark-round balanced" ng-show="report.gi_assessed" style="font-size: 25px"></i>
      </a>
      <a class="item item-icon-left item-icon-right" href="#/tab/report/{{report.id}}/exam/gu">
       <i class="icon icon-i-kidney"></i>
        Genitourinary
        <i class="icon ion-checkmark-round balanced" ng-show="report.gu_assessed" style="font-size: 25px"></i>
      </a>
      <a class="item item-icon-left item-icon-right" href="#/tab/report/{{report.id}}/exam/gyn" ng-show="report.gender == 'Female'">
       <i class="icon icon-i-labor-delivery"></i>
        Ob/Gyn
        <i class="icon ion-checkmark-round balanced" ng-show="report.gyn_assessed" style="font-size: 25px"></i>
      </a>
      <a class="item item-icon-left item-icon-right" href="#/tab/report/{{report.id}}/exam/muscular">
       <i class="icon icon-i-physical-therapy"></i>
        Muscular/Skeletal
        <i class="icon ion-checkmark-round balanced" ng-show="report.muscular_has_complaint=='true'" style="font-size: 25px"></i>
      </a>
      
    </div>
  </ion-content>
</ion-view>
