<ion-nav-bar>
</ion-nav-bar>
  <ion-view view-title="Gastrointestinal">
  <ion-nav-buttons side="secondary">
      <button class="button button-clear" ng-click="save()">
         <i class="icon ion-ios-checkmark-outline"></i> Save
      </button>
    </ion-nav-buttons>
  <ion-content class="padding">
   <ion-list>
        <ion-item class="item-divider">
          Abdomen
        </ion-item>
        <ion-item class="item-toggle">
          Soft
           <label class="toggle toggle-balanced">
             <input type="checkbox" ng-model="gi.gi_soft">
             <div class="track">
               <div class="handle"></div>
             </div>
          </label>
        </ion-item>
        <ion-item class="item-toggle">
          Flat
           <label class="toggle toggle-balanced">
             <input type="checkbox" ng-model="gi.gi_flat">
             <div class="track">
               <div class="handle"></div>
             </div>
          </label>
        </ion-item>
        <ion-item class="item-toggle">
          Non Distended
           <label class="toggle toggle-balanced">
             <input type="checkbox" ng-model="gi.gi_non_distended">
             <div class="track">
               <div class="handle"></div>
             </div>
          </label>
        </ion-item>
        <ion-item class="item-toggle">
          Non Tender
           <label class="toggle toggle-balanced">
             <input type="checkbox" ng-model="gi.gi_non_tender">
             <div class="track">
               <div class="handle"></div>
             </div>
          </label>
        </ion-item>
        <ion-item class="item-toggle">
          Rebound
           <label class="toggle toggle-balanced">
             <input type="checkbox" ng-model="gi.gi_rebound">
             <div class="track">
               <div class="handle"></div>
             </div>
          </label>
        </ion-item>
    </ion-list>
    <br>
    <ion-list>
      <ion-item class="item-toggle">
          Obese
           <label class="toggle toggle-balanced">
             <input type="checkbox" ng-model="gi.gi_obese">
             <div class="track">
               <div class="handle"></div>
             </div>
          </label>
        </ion-item>
        <ion-item class="item-input">
          <span class="input-label">Last BM</span>
          <input type="date" ng-model="gi.gi_last_bm">
        </ion-item>
        <ion-item class="item-input">
          <span class="input-label">Last OI</span>
          <input type="date" ng-model="gi.gi_last_oi">
        </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
