<ion-nav-bar>
</ion-nav-bar>
<ion-view view-title="Gyn/Obs">
  <ion-nav-buttons side="secondary">
    <button class="button button-positive" ng-click="fieldDelivery()" ng-show="gyn.gyn_pregnant">
      Field-delivery
    </button>
    <button class="button button-clear" ng-click="save(true)">
      <i class="icon ion-ios-checkmark-outline"></i> Save
    </button>
  </ion-nav-buttons>
  <ion-content class="padding">
    <ion-list>
      <ion-item class="item-input">
       <span class="input-label">Gravid</span>
        <input type="number" ng-model="gyn.gyn_gravid" placeholder="Gravid">
      </ion-item>
      <ion-item class="item-input">
       <span class="input-label">Term</span>
        <input type="number" ng-model="gyn.gyn_term" placeholder="Term">
      </ion-item>
      <ion-item class="item-input">
       <span class="input-label">Para</span>
        <input type="number" ng-model="gyn.gyn_para" placeholder="Para">
      </ion-item>
      <ion-item class="item-input">
       <span class="input-label">Abortia</span>
        <input type="number" ng-model="gyn.gyn_abortia" placeholder="Abortia">
      </ion-item>
      <ion-item class="item-input">
       <span class="input-label">Live</span>
        <input type="number" ng-model="gyn.gyn_live" placeholder="Live">
      </ion-item>
      <ion-item class="item-input">
        <span class="input-label">Last menstruation</span>
        <input type="date" ng-model="gyn.gyn_last_menstruation">
      </ion-item>
      <ion-item class="item-toggle">
        Vaginal discharge
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-model="gyn.gyn_discharge">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </ion-item>
      <ion-item class="item-input" ng-show="gyn.gyn_discharge">
        <span class="input-label">Substance</span>
        <input type="text" ng-model="gyn.gyn_substance">
      </ion-item>
      <ion-item class="item-input item-select">
        <span class="input-label">Pregnant</span>
        <select ng-model="gyn.gyn_pregnant">
          <option>Yes</option>
          <option>No</option>
          <option>Possibly</option>
          <option>Unknown</option>
        </select>
      </ion-item>
    </ion-list>

    <ion-list ng-show="gyn.gyn_pregnant == 'Yes'">
      <br>
      <ion-item class="item-divider">
        Pregnancy
      </ion-item>
      <ion-item class="item-input">
        <span class="input-label">EDC</span>
        <input type="date" ng-model="gyn.gyn_edc">
      </ion-item>
      <ion-item class="item-toggle">
        Gestation is known
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-model="gyn.gyn_gestation_known">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </ion-item>
      <ion-item class="item-input" ng-show="gyn.gyn_gestation_known">
        <span class="input-label">Number of weeks</span>
        <input type="number" ng-model="gyn.gyn_gest_weeks">
      </ion-item>
      <ion-item class="item-toggle">
        Membranes intact
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-model="gyn.gyn_membrane_intact">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </ion-item>
      <ion-item class="item-input" ng-show="!gyn.gyn_membrane_intact">
        <span class="input-label">Rupture time</span>
        <my-date-time-picker placeholder="Rupture Time" title="Rupture Time" ng-model="gyn.gyn_time_ruptured" class="text-input" />
      </ion-item>
      <ion-item class="item-input" ng-show="!gyn.gyn_membrane_intact">
        <span class="input-label">Fluid</span>
        <input type="text" ng-model="gyn.gyn_fluid" placeholder="Color/type of fluid">
      </ion-item>
      <ion-item class="item-input">
        <span class="input-label">Nb of babies expected</span>
        <input type="number" ng-model="gyn.gyn_expected_babies" placeholder="Nb of babies">
      </ion-item>
      <ion-item class="item-toggle">
        Fetal movement
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-model="gyn.gyn_fetal_mvmt">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </ion-item>
      <ion-item class="item-input" ng-show="gyn.gyn_fetal_mvmt">
        <span class="input-label">Last movement</span>
        <my-date-time-picker placeholder="Last Movement" title="Last Movement" ng-model="gyn.gyn_last_mvmt" class="text-input" />
      </ion-item>
      <ion-item class="item-input" ng-show="gyn.gyn_fetal_mvmt">
        <span class="input-label">Movements per hour</span>
        <input type="number" ng-model="gyn.gyn_mvmt_per_hr" placeholder="Mvt per hr">
      </ion-item>
      <ion-item class="item-toggle">
        Contractions
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-model="gyn.gyn_contractions">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </ion-item>
      <ion-item class="item-input" ng-show="gyn.gyn_contractions">
        <span class="input-label">Duration</span>
        <input type="text" ng-model="gyn.gyn_contraction_duration">
        <span class="input-label">seconds</span>
      </ion-item>
      <ion-item class="item-input" ng-show="gyn.gyn_contractions">
        <span class="input-label">Separation</span>
        <input type="text" ng-model="gyn.gyn_contraction_separation">
        <span class="input-label">seconds</span>
      </ion-item>
    </ion-list>
    <br>
    <ion-list>
      <ion-item class="item-divider">
        Edema
      </ion-item>
      <ion-item class="item-toggle">
        Edema
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-model="gyn.peripheral_edema">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </ion-item>
      <ion-item class="item item-input item-select" ng-show="gyn.peripheral_edema">
        <div class="input-label">Edema Location</div>
        <select ng-model="gyn.peripheral_edema_location">
          <optgroup label="Lower Extremities">
            <option>Ankle</option>
            <option>Mid Calf</option>
            <option>Knee</option>
          </optgroup>
          <optgroup label="Upper Extremities">
            <option>Fingers</option>
            <option>Hand</option>
            <option>Wrist</option>
            <option>Mid Forearm</option>
            <option>Elbow</option>
          </optgroup>
          <optgroup label="Pulmonary">
            <option>Bases</option>
            <option>Lower Lobes</option>
            <option>Midway</option>
            <option>Upper Lobes</option>
            <option>Apex</option>
          </optgroup>
          <optgroup label="Facial">
            <option>Face</option>
            <option>Eyes</option>
            <option>Mouth</option>
            <option>Throat</option>
        </select>
      </ion-item>
      <ion-item class="item item-input item-select" ng-show="gyn.peripheral_edema">
        <div class="input-label">Edema Severity</div>
        <select ng-model="gyn.peripheral_edema_severity">
          <option>Non Pitting</option>
          <option>+1</option>
          <option>+2</option>
          <option>+3</option>
          <option>+4</option>
        </select>
      </ion-item>
  </ion-content>
</ion-view>