<ion-nav-bar>
</ion-nav-bar>
  <ion-view view-title="Neuro Records">
    <ion-nav-buttons side="secondary">
      <button class="button button-icon icon ion-ios-minus-outline" ng-click="toggleDelete()"></button>
      <button class="button button-clear" ng-click="addItem()">
        <i class="icon ion-ios-plus-outline"></i> Add
      </button>
    </ion-nav-buttons>
  <ion-content>
    <ion-list show-delete="showDelete">
      <ion-item class="item-icon-left" ng-repeat="neuro in list" type="item-text-wrap" href="#/tab/report/{{reportId}}/exam/neuro/{{neuro.id}}">
        <i class="icon icon-i-neurology"></i>
        <h2>{{neuro.created}}</h2>
        <h4>AVPU:{{neuro.avpu}}</h4>
        <ion-delete-button class="ion-minus-circled" ng-click="deleteItem(neuro.id)">
       </ion-delete-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
