<ion-view view-title="Airway">
  <ion-content class="padding">
    <div class="list">
      
      <a class="item item-icon-right" href="#/tab/report/{{report.id}}/procedures/airway/basic">
        Basic Airway
        <span class="badge badge-assertive">{{basicAirwayNumber}}</span>
      </a>
      
      <a class="item item-icon-right" href="#/tab/report/{{report.id}}/procedures/airway/invasive">
       Invasive airway
       <i class="icon ion-checkmark-round"  ng-show="report.invasive_airway_assessed" style="font-size: 25px"></i>
      </a>
      
      <a class="item item-icon-right" href="#/tab/report/{{report.id}}/procedures/airway/ventilator">
        Ventilator
        <span class="badge badge-assertive">{{ventilatorNumber}}</span>
      </a>
      
      <a class="item item-icon-right" href="#/tab/report/{{report.id}}/procedures/airway/cpap-bipap">
        CPAP/BiPAP
        <span class="badge badge-assertive">{{cpapBipapNumber}}</span>
      </a>
      
      <a class="item item-icon-right" href="#/tab/report/{{report.id}}/procedures/airway/suction">
        Suction
        <span class="badge badge-assertive">{{suctionNumber}}</span>
      </a>
      
    </div>
  </ion-content>
</ion-view>
