<ion-nav-bar>
</ion-nav-bar>
  <ion-view view-title="ECG">
  <ion-nav-buttons side="secondary">
      <button class="button button-clear" ng-click="save()">
         <i class="icon ion-ios-checkmark-outline"></i> Save
      </button>
    </ion-nav-buttons>
  <ion-content class="padding">
   <ion-list>
       <ion-item class="item-input item-select">
          <span class="input-label">Test</span>
          <select ng-model="ecg.leads_nb">
              <option>3 Leads</option>
              <option>12 Leads</option>
          </select>
        </ion-item>
        <ion-item class="item-input item-select">
          <span class="input-label">Rhythm</span>
          <select ng-model="ecg.rhythm">
            <option>Sinus</option>
            <option>Sinus Tachycardia</option>
            <option>Sinus Bradycardia</option>
            <option>Sinus Arrhythmia</option>
            <option>Atrial Tachycardia</option>
            <option>A-Fib</option>
            <option>A-Fib w/ SVR</option>
            <option>A-Fib w/ RVR</option>
            <option>A-Flutter</option>
            <option>A-Flutter w/ variable block</option>
            <option>SVT</option>
            <option>Junctional</option>
            <option>Accelerated Junctional</option>
            <option>Junctional Tachycardia</option>
            <option>1st Degree Block</option>
            <option>2nd Degree Block type 1</option>
            <option>2nd Degree Block type 2</option>
            <option>3rd Degree Block</option>
            <option>Ventricular</option>
            <option>Accelerated Ventricular</option>
            <option>V-Tach</option>
            <option>V-Fib</option>
          </select>
        </ion-item>
        <ion-item class="item-toggle">
          Regular
          <label class="toggle toggle-balanced">
             <input type="checkbox" ng-model="ecg.regular">
             <div class="track">
               <div class="handle"></div>
             </div>
          </label>
        </ion-item>
        <ion-item class="item-toggle">
          BBB
          <label class="toggle toggle-balanced">
             <input type="checkbox" ng-model="ecg.bbb">
             <div class="track">
               <div class="handle"></div>
             </div>
          </label>
        </ion-item>
        <ion-item class="item-input item-select" ng-show="ecg.bbb">
          <span class="input-label">BBB side</span>
          <select ng-model="ecg.bbb_side">
              <option>Left</option>
              <option>Right</option>
          </select>
        </ion-item>
        <ion-item class="item-toggle">
          ST changes
          <label class="toggle toggle-balanced">
             <input type="checkbox" ng-model="ecg.st_changes">
             <div class="track">
               <div class="handle"></div>
             </div>
          </label>
        </ion-item>
        <div class="item" ng-show="ecg.st_changes">
          <div class="ecg_buttons">
            <div class="col"><button class="button button-stable icon-left" ng-class="{'button-balanced ion-arrow-up-c': elevation.indexOf('I') != -1, 'button-assertive ion-arrow-down-c': depression.indexOf('I') != -1}"  ng-click="toggle('I')">I</button></div>
            <div class="col"><button class="button button-stable icon-left" ng-class="{'button-balanced ion-arrow-up-c': elevation.indexOf('aVR') != -1, 'button-assertive ion-arrow-down-c': depression.indexOf('aVR') != -1}"  ng-click="toggle('aVR')">aVR</button></div>
            <div class="col"><button class="button button-stable icon-left" ng-class="{'button-balanced ion-arrow-up-c': elevation.indexOf('V1') != -1, 'button-assertive ion-arrow-down-c': depression.indexOf('V1') != -1}"  ng-click="toggle('V1')">V1</button></div>
            <div class="col"><button class="button button-stable icon-left" ng-class="{'button-balanced ion-arrow-up-c': elevation.indexOf('V4') != -1, 'button-assertive ion-arrow-down-c': depression.indexOf('V4') != -1}"  ng-click="toggle('V4')">V4</button></div>
        </div>
        <div class="ecg_buttons">
            <div class="col"><button class="button button-stable icon-left" ng-class="{'button-balanced ion-arrow-up-c': elevation.indexOf('II') != -1, 'button-assertive ion-arrow-down-c': depression.indexOf('II') != -1}"  ng-click="toggle('II')">II</button></div>
              <div class="col"><button class="button button-stable icon-left" ng-class="{'button-balanced ion-arrow-up-c': elevation.indexOf('aVL') != -1, 'button-assertive ion-arrow-down-c': depression.indexOf('aVL') != -1}"  ng-click="toggle('aVL')">aVL</button></div>
              <div class="col"><button class="button button-stable icon-left" ng-class="{'button-balanced ion-arrow-up-c': elevation.indexOf('V2') != -1, 'button-assertive ion-arrow-down-c': depression.indexOf('V2') != -1}"  ng-click="toggle('V2')">V2</button></div>
              <div class="col"><button class="button button-stable icon-left" ng-class="{'button-balanced ion-arrow-up-c': elevation.indexOf('V5') != -1, 'button-assertive ion-arrow-down-c': depression.indexOf('V5') != -1}"  ng-click="toggle('V5')">V5</button></div>
        </div>
        <div class="ecg_buttons">
          <div class="col"><button class="button button-stable icon-left" ng-class="{'button-balanced ion-arrow-up-c': elevation.indexOf('III') != -1, 'button-assertive ion-arrow-down-c': depression.indexOf('III') != -1}"  ng-click="toggle('III')">III</button></div>
              <div class="col"><button class="button button-stable icon-left" ng-class="{'button-balanced ion-arrow-up-c': elevation.indexOf('aVF') != -1, 'button-assertive ion-arrow-down-c': depression.indexOf('aVF') != -1}"  ng-click="toggle('aVF')">aVF</button></div>
              <div class="col"><button class="button button-stable icon-left" ng-class="{'button-balanced ion-arrow-up-c': elevation.indexOf('V3') != -1, 'button-assertive ion-arrow-down-c': depression.indexOf('V3') != -1}"  ng-click="toggle('V3')">V3</button></div>
              <div class="col"><button class="button button-stable icon-left" ng-class="{'button-balanced ion-arrow-up-c': elevation.indexOf('V6') != -1, 'button-assertive ion-arrow-down-c': depression.indexOf('V6') != -1}"  ng-click="toggle('V6')">V6</button></div>
          </div>
        </div>
        <ion-item class="item-toggle">
          PAC's
          <label class="toggle toggle-balanced">
             <input type="checkbox" ng-model="ecg.pacs">
             <div class="track">
               <div class="handle"></div>
             </div>
          </label>
        </ion-item>
        <ion-item class="item-toggle">
          PVC's
          <label class="toggle toggle-balanced">
             <input type="checkbox" ng-model="ecg.pvcs">
             <div class="track">
               <div class="handle"></div>
             </div>
          </label>
        </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
