<ion-nav-bar>
</ion-nav-bar>
  <ion-view view-title="In/Out">
  <ion-nav-buttons side="secondary">
      <button class="button button-clear" ng-click="save()">
         <i class="icon ion-ios-checkmark-outline"></i> Save
      </button>
    </ion-nav-buttons>
  <ion-content class="padding">
   <ion-list>
       <ion-item class="item-input item-select">
          <span class="input-label">Direction</span>
          <select ng-model="inOut.direction">
              <option>Intake</option>
              <option>Output</option>
          </select>
        </ion-item>
        <ion-item class="item-input">
          <span class="input-label">Volume</span>
          <input type="text" ng-model="inOut.volume" placeholder="Volume">
          <span class="input-label">mL</span>
        </ion-item>
        <ion-item class="item-input item-select">
          <span class="input-label">Substance</span>
          <select ng-model="inOut.substance">
              <option>Other</option>
              <option ng-show="inOut.direction == 'Output'">Urine</option>
              <option ng-show="inOut.direction == 'Output'">Vomit</option>
              <option ng-show="inOut.direction == 'Output'">Blood</option>
              <option ng-show="inOut.direction == 'Intake'">Normal Saline</option>
              <option ng-show="inOut.direction == 'Intake'">Lactated Ringers</option>
              <option ng-show="inOut.direction == 'Intake'">D5W</option>
              <option ng-show="inOut.direction == 'Intake'">D10W</option>
              <option ng-show="inOut.direction == 'Intake'">2/3 &amp; 1/3</option>
          </select>
        </ion-item>
        <ion-item class="item-input" ng-show="inOut.substance == 'Other'">
          <span class="input-label">Other</span>
          <input type="text" ng-model="inOut.substance_other" placeholder="Other substance">
        </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
