<ion-nav-bar>
</ion-nav-bar>
  <ion-view view-title="IV/IO">
  <ion-nav-buttons side="secondary">
      <button class="button button-clear" ng-click="save()">
         <i class="icon ion-ios-checkmark-outline"></i> Save
      </button>
    </ion-nav-buttons>
  <ion-content class="padding">
   <ion-list>
       <ion-item class="item-input item-select">
          <span class="input-label">Site</span>
          <select ng-model="ivio.site">
              <option>Hand</option>
              <option>Wrist</option>
              <option>Forearm</option>
              <option>AC</option>
              <option>Upper arm</option>
              <option>External jugular</option>
              <option>Tibial tuberosity</option>
          </select>
        </ion-item>
        <ion-item class="item-input item-select">
          <span class="input-label">Side</span>
          <select ng-model="ivio.side">
              <option>Left</option>
              <option>Right</option>
          </select>
        </ion-item>
        </ion-item>
        <ion-item class="item-input item-select">
          <span class="input-label">Gauge</span>
          <select ng-model="ivio.gauge">
              <option>14</option>
              <option>16</option>
              <option>18</option>
              <option>20</option>
              <option>22</option>
              <option>24</option>
              <option>IO 18</option>
          </select>
        </ion-item>
        <ion-item class="item-input">
          <span class="input-label">Attempts</span>
          <input type="text" ng-model="ivio.attempts" placeholder="Attempts">
        </ion-item>
        <ion-item class="item-toggle">
          Successful
          <label class="toggle toggle-balanced">
             <input type="checkbox" ng-model="ivio.successful">
             <div class="track">
               <div class="handle"></div>
             </div>
          </label>
        </ion-item>
        <ion-item class="item-input item-select">
          <span class="input-label">Fluid</span>
          <select ng-model="ivio.fluid">
              <option>Other</option>
              <option>Normal Saline</option>
              <option>Lactate Ringers</option>
              <option>D5W</option>
              <option>D10W</option>
              <option>2/3 &amp; 1/3</option>
          </select>
        </ion-item>
        <ion-item class="item-input" ng-show="ivio.fluid == 'Other'">
          <span class="input-label">Other</span>
          <input type="text" ng-model="ivio.fluid_other" placeholder="Other fluid">
        </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
