<ion-nav-bar>
</ion-nav-bar>
  <ion-view view-title="Medication">
  <ion-nav-buttons side="secondary">
      <button class="button button-clear" ng-click="save()">
         <i class="icon ion-ios-checkmark-outline"></i> Save
      </button>
    </ion-nav-buttons>
  <ion-content class="padding">
   <ion-list>
         <ion-item class="item-input item-select">
          <span class="input-label">Medication name</span>
          <select ng-model="medication.medication_type" ng-change="updateMedicationList()">
              <option>Generic</option>
              <option>Brand</option>
          </select>
        </ion-item>
        <ion-item class="item-input item-select">
          <span class="input-label">Medication</span>
          <select ng-options="item for item in medication_list" ng-model="medication.medication">
          </select>
        </ion-item>
        <ion-item class="item-input" ng-show="medication.medication == 'Other'">
          <span class="input-label">Other</span>
          <input type="text" ng-model="medication.medication_other" placeholder="Medication other">
        </ion-item>
        <ion-item class="item-input">
          <span class="input-label">Dose</span>
          <input type="text" ng-model="medication.dose" placeholder="Dose">
        </ion-item>
        <ion-item class="item-input item-select">
          <span class="input-label">Dose Unit</span>
          <select ng-model="medication.dose_unit">
              <option>mg</option>
              <option>mcg</option>
              <option>G</option>
              <option>units</option>
              <option>L</option>
          </select>
        </ion-item>
        <ion-item class="item-input item-select">
          <span class="input-label">Route</span>
          <select ng-model="medication.route">
              <option>Other</option>
              <option>SIVP</option>
              <option>IVP</option> 
              <option>RIVP</option> 
              <option>IM</option> 
              <option>SQ</option> 
              <option>SL</option> 
              <option>PO</option> 
              <option>Buccal</option> 
              <option>Rectal</option> 
              <option>Neb</option> 
              <option>Ocular</option> 
              <option>Nasal</option> 
              <option>Intra</option> 	
              <option>Lingual</option> 
              <option>Percutanious</option> 
              <option>Transdermal</option> 
          </select>
        </ion-item>
        <ion-item class="item-input" ng-show="medication.route == 'Other'">
          <span class="input-label">Other</span>
          <input type="text" ng-model="medication.route_other" placeholder="Route other">
        </ion-item>
        <ion-item class="item-input">
          <span class="input-label">Indication</span>
          <input type="text" ng-model="medication.indication" placeholder="Indication">
        </ion-item>
        <ion-item class="item-input item-select">
          <span class="input-label">Administrated</span>
          <select ng-model="medication.administrated">
              <option>Other</option>
              <option>Self</option>
              <option>Partner</option>
          </select>
        </ion-item>
        <ion-item class="item-input" ng-show="medication.administrated == 'Other'">
          <span class="input-label">Other</span>
          <input type="text" ng-model="medication.administrated_other" placeholder="Indication">
        </ion-item>
         <ion-item class="item-input">
          <span class="input-label">Same dose</span>
          <input type="text" ng-model="medication.same_dose" placeholder="Same dose">
          <span class="input-label">Times</span>
        </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
