<ion-nav-bar>
</ion-nav-bar>
  <ion-view view-title="Spinal Motion Restriction">
  <ion-nav-buttons side="secondary">
      <button class="button button-balanced icon-left icon ion-checkmark-round" ng-click="save()">
         Save
      </button>
    </ion-nav-buttons>
  <ion-content class="padding">
   <ion-list>
       <ion-item class="item-toggle">
          Manual C-Spine
          <label class="toggle">
             <input type="checkbox" ng-model="spinal.spinal_manual">
             <div class="track">
               <div class="handle"></div>
             </div>
          </label>
        </ion-item>
        <ion-item class="item-toggle">
          C-Collar
          <label class="toggle">
             <input type="checkbox" ng-model="spinal.spinal_c_collar">
             <div class="track">
               <div class="handle"></div>
             </div>
          </label>
        </ion-item>
        <ion-item class="item-input item-select" ng-show="spinal.spinal_c_collar">
          <span class="input-label">Size</span>
          <select ng-model="spinal.spinal_collar_size">
              <option value="0">No neck</option>
              <option value="1">Small</option>
              <option value="2">Regular</option>
              <option value="3">Tall</option>
          </select>
        </ion-item>
        <ion-item class="item-input item-select">
          <span class="input-label">Back board</span>
          <select ng-model="spinal.spinal_backboard">
              <option value="0">Long board</option>
              <option value="1">Oregon spine splint</option>
              <option value="2">Scoop stretcher</option>
              <option value="3">None</option>
          </select>
        </ion-item>
        <ion-item class="item-input item-select">
          <span class="input-label">Transferred by</span>
          <select ng-model="spinal.spinal_transferred_by">
              <option value="0">Log Roll</option>
              <option value="1">Scoop Stretcher</option>
              <option value="2">Pt Sit Down</option>
              <option value="3">Standing Take Down</option>
              <option value="4">Direct Lift</option>
              <option value="5">KED</option>
          </select>
        </ion-item>
        <ion-item class="item-input item-select">
          <span class="input-label">Secured with</span>
          <select ng-model="spinal.spinal_secured_with">
              <option value="0">Belts</option>
              <option value="1">Spider Straps</option>
              <option value="2">Webbing</option>
              <option value="3">Triangular Bandages</option>
          </select>
        </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
