<ion-nav-bar>
</ion-nav-bar>
  <ion-view view-title="Spinal Motion Restriction">
  <ion-nav-buttons side="secondary">
      <button class="button button-clear" ng-click="save()">
         <i class="icon ion-ios-checkmark-outline"></i> Save
      </button>
    </ion-nav-buttons>
  <ion-content class="padding">
   <ion-list>
       <ion-item class="item-toggle">
          Manual C-Spine
          <label class="toggle toggle-balanced">
             <input type="checkbox" ng-model="spinal.spinal_manual">
             <div class="track">
               <div class="handle"></div>
             </div>
          </label>
        </ion-item>
        <ion-item class="item-toggle">
          C-Collar
          <label class="toggle toggle-balanced">
             <input type="checkbox" ng-model="spinal.spinal_c_collar">
             <div class="track">
               <div class="handle"></div>
             </div>
          </label>
        </ion-item>
        <ion-item class="item-input item-select" ng-show="spinal.spinal_c_collar">
          <span class="input-label">Size</span>
          <select ng-model="spinal.spinal_collar_size">
              <option>No neck</option>
              <option>Small</option>
              <option>Regular</option>
              <option>Tall</option>
          </select>
        </ion-item>
        <ion-item class="item-input item-select">
          <span class="input-label">Back board</span>
          <select ng-model="spinal.spinal_backboard">
              <option>Long board</option>
              <option>Oregon spine splint</option>
              <option>Scoop stretcher</option>
              <option>None</option>
          </select>
        </ion-item>
        <ion-item class="item-input item-select">
          <span class="input-label">Transferred by</span>
          <select ng-model="spinal.spinal_transferred_by">
              <option>Log Roll</option>
              <option>Scoop Stretcher</option>
              <option>Pt Sit Down</option>
              <option>Standing Take Down</option>
              <option>Direct Lift</option>
              <option>KED</option>
          </select>
        </ion-item>
        <ion-item class="item-input item-select">
          <span class="input-label">Secured with</span>
          <select ng-model="spinal.spinal_secured_with">
              <option>Belts</option>
              <option>Spider Straps</option>
              <option>Webbing</option>
              <option>Triangular Bandages</option>
          </select>
        </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
