<ion-nav-bar>
</ion-nav-bar>
  <ion-view view-title="Splinting">
  <ion-nav-buttons side="secondary">
      <button class="button button-clear" ng-click="save()">
         <i class="icon ion-ios-checkmark-outline"></i> Save
      </button>
    </ion-nav-buttons>
  <ion-content class="padding">
   <ion-list>
        <ion-item class="item-input item-select">
          <span class="input-label">Location</span>
          <select ng-model="splinting.location">
              <option>Head</option>
              <option>Arm</option>
              <option>Hand</option>
              <option>Leg</option>
              <option>Ankle</option>
          </select>
        </ion-item>
        <ion-item class="item-input item-select">
          <span class="input-label">Side</span>
          <select ng-model="splinting.side">
              <option>Left</option>
              <option>Right</option>
          </select>
        </ion-item>
        <ion-item class="item-toggle">
          Sensation Prior
          <label class="toggle toggle-balanced">
             <input type="checkbox" ng-model="splinting.sensation_prior">
             <div class="track">
               <div class="handle"></div>
             </div>
          </label>
        </ion-item>
        <ion-item class="item-toggle">
          Sensation Post
          <label class="toggle toggle-balanced">
             <input type="checkbox" ng-model="splinting.sensation_post">
             <div class="track">
               <div class="handle"></div>
             </div>
          </label>
        </ion-item>
        <ion-item class="item-toggle">
          Traction Applied
          <label class="toggle toggle-balanced">
             <input type="checkbox" ng-model="splinting.traction_applied">
             <div class="track">
               <div class="handle"></div>
             </div>
          </label>
        </ion-item>
        <ion-item class="item-input item-select">
          <span class="input-label">Splinting type</span>
          <select ng-model="splinting.splinting_type">
              <option>Other</option>
              <option>Vacuum Splint</option>
              <option>Sam Splint</option>
              <option>Padded Board</option>
              <option>Air Splint</option>
              <option>Gauze</option>
              <option>Pressure Bandage</option>
              <option>Tourniquet</option>
          </select>
        </ion-item>
        <ion-item class="item-input" ng-show="splinting.splinting_type == 'Other'">
          <span class="input-label">Splinting type other</span>
          <input type="text" ng-model="splinting.splinting_type_other" placeholder="Splinting type other">
        </ion-item>
        <ion-item class="item-input item-select">
          <span class="input-label">Position found</span>
          <select ng-model="splinting.position_found">
              <option>Other</option>
              <option>Position of Function</option>
              <option>Anatomic</option>
          </select>
        </ion-item>
        <ion-item class="item-input" ng-show="splinting.position_found == 'Other'">
          <span class="input-label">Splinting type other</span>
          <input type="text" ng-model="splinting.position_found_other" placeholder="Position found other">
        </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
