/* Empty. Add your own CSS if you like */

body {
  /*  cursor: url('http://ionicframework.com/img/finger.png'), auto;*/
}

.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}

.list .item.item-accordion.ng-hide {
  line-height: 0px;
}

.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

h4.list-detail{
  color: #666;
}

.item .badge {
  right: 15px;
}

.ecg_buttons>div {
  float: left;
  width: 25%;
}

.ecg_buttons>div button {
  width: 100%;
}

#codeButtons .row{
  padding: 0px 4px;
}
#codeButtons .col {
  padding: 1px 4px;
}

#codeButtons .button {
  margin-top: 2px;
  margin-bo: 2px;
}

#gastro_map img {
  opacity: 0.5;
  margin-left: -5px;
}

#gastro_map>div {
  border-top: none;
  border-bottom: none;
  margin-bottom: -5px;
}

.region-selected {
  opacity: 1 !important;
}

.first-degree {
  fill: #FF758D;
}

.second-degree {
  fill: red;
}

.third-degree {
  fill: #222;
}

.color-code {
  float: right;
  width: 20px;
  height: 20px;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  background: gray;
}

.burn-1-color {
  border-color: #FF758D;
  background-color: #FF758D;
}

.burn-2-color {
  border-color: red;
  background-color: red;
}

.burn-3-color {
  border-color: #222;
  background-color: #222;
}

@media screen and (max-width: 380px) {
    .phone-landscape {
        display: none !important;
    }
}

@media screen and (min-width: 381px) {
    .phone-landscape {
        display: inline-block !important;
    }
}