/* Empty. Add your own CSS if you like */

body {
/*  cursor: url('http://ionicframework.com/img/finger.png'), auto;*/
}

/*
 * http://docs.angularjs.org/api/ng/directive/ngShow#usage_animations
 */
.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

.item .badge {
  right: 15px;
}

.ecg_buttons>div{
  float:left;
  width: 25%;
}

.ecg_buttons>div button{
  width: 100%;
}