.vehicles {
  display: block;
  height: 330px;
}

.vehicles .active {
  background-color: green !important;
}
/* Drawing a car */

.car-front-wheels,
.car-rear-wheels {
  position: absolute;
  left: 76px;
  top: 90px;
  width: 128px;
  height: 40px;
  background: black;
  -webkit-border-radius: 4px;
  border: 3px solid #000;
}

.car-rear-wheels {
  top: 245px;
}

.car-left-light,
.car-right-light {
  position: absolute;
  left: 90px;
  top: 55px;
  width: 20px;
  height: 8px;
  background: yellow;
  -webkit-border-radius: 4px;
  border: 3px solid #333333;
}

.car-right-light {
  left: 170px;
}

.car-steering-wheel {
  position: absolute;
  left: 105px;
  top: 125px;
  width: 17px;
  height: 12px;
  background: transparent;
  border: 3px solid #000;
  -webkit-border-radius: 15px;
}

.car-hood {
  position: absolute;
  left: 80px;
  top: 60px;
  width: 120px;
  height: 250px;
  background: grey;
  -webkit-border-radius: 10px;
  border: 3px solid #333333;
}

.car-seats .seat {
  position: absolute;
  width: 55px;
  height: 53px;
  background: white;
  border: 3px solid #333333;
}

.car-seats .seat.front {
  top: 120px;
}

.car-seats .seat.middle {
  top: 170px;
}

.car-seats .seat.rear {
  top: 220px;
}

.car-seats .seat.left {
  left: 86px;
}

.car-seats .seat.right {
  left: 139px;
}

.car-seats .seat.front.left {
  -webkit-border-top-left-radius: 10px;
}

.car-seats .seat.front.right {
  -webkit-border-top-right-radius: 10px;
}

.car-seats .seat.rear.left {
  -webkit-border-bottom-left-radius: 10px;
}

.car-seats .seat.rear.right {
  -webkit-border-bottom-right-radius: 10px;
}
/* Drawing a truck */

.truck-front-wheels,
.truck-rear-wheels {
  position: absolute;
  left: 75px;
  top: 90px;
  width: 156px;
  height: 40px;
  background: black;
  -webkit-border-radius: 4px;
  border: 3px solid #000;
}

.truck-rear-wheels {
  top: 245px;
}

.truck-left-light,
.truck-right-light {
  position: absolute;
  left: 90px;
  top: 55px;
  width: 20px;
  height: 8px;
  background: yellow;
  -webkit-border-radius: 4px;
  border: 3px solid #333333;
}

.truck-right-light {
  left: 195px;
}

.truck-steering-wheel {
  position: absolute;
  left: 100px;
  top: 125px;
  width: 17px;
  height: 12px;
  background: transparent;
  border: 3px solid #000;
  -webkit-border-radius: 15px;
}

.truck-body {
  position: absolute;
  left: 80px;
  top: 60px;
  width: 146px;
  height: 250px;
  background: grey;
  -webkit-border-radius: 10px;
  border: 3px solid #333333;
}

.truck-semi-body {
  position: absolute;
  left: 80px;
  top: 60px;
  width: 146px;
  height: 250px;
  background: grey;
  -webkit-border-radius: 10px;
  border: 3px solid #333333;
  background-color: #444;
}

.truck-box {
  position: absolute;
  left: 90px;
  top: 60px;
  width: 126px;
  height: 240px;
  background: #555;
  -webkit-border-radius: 10px;
  border: 3px solid #333333;
}

.truck-hood {
  position: absolute;
  left: 80px;
  top: 60px;
  width: 146px;
  height: 110px;
  background: grey;
  -webkit-border-radius: 10px;
  border: 3px solid #333333;
}

.truck-seats .seat {
  position: absolute;
  width: 45px;
  height: 50px;
  background: white;
  border: 3px solid #333333;
}

.truck-seats .seat.front {
  top: 113px;
}

.truck-seats .seat.left {
  width: 45px;
  left: 88px;
}

.truck-seats .seat.center {
  width: 46px;
  left: 130px;
}

.truck-seats .seat.right {
  width: 45px;
  left: 172px;
}

.truck-seats .seat.front.left {
  -webkit-border-top-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
}

.truck-seats .seat.front.right {
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
}

/* Drawing a motorbike */

.moto-wheels {
  position: absolute;
  left: 84px;
  top: 50px;
  width: 20px;
  height: 255px;
  background: black;
  -webkit-border-radius: 12px;
  border: 3px solid #000;
}

.moto-body {
  position: absolute;
  left: 64px;
  top: 100px;
  width: 60px;
  height: 190px;
  background: grey;
  -webkit-border-radius: 25px;
  border: 3px solid #333333;
}

.moto-handle {
  position: absolute;
  left: 54px;
  top: 110px;
  width: 80px;
  height: 4px;
  background: #555;
  -webkit-border-radius: 3px;
  border: 3px solid #333333;
}

.moto-light {
  position: absolute;
  left: 80px;
  top: 89px;
  width: 28px;
  height: 16px;
  background: yellow;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-left-radius: 14px;
  -webkit-border-bottom-right-radius: 14px;
  border: 3px solid #333333;
}

.moto-cache-light {
  position: absolute;
  left: 80px;
  top: 95px;
  width: 28px;
  height: 10px;
  background: #555;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-left-radius: 14px;
  -webkit-border-bottom-right-radius: 14px;
  border: 3px solid #333333;
}

.moto-side {
  position: absolute;
  left: 133px;
  top: 185px;
  width: 73px;
  height: 100px;
  background: grey;
  -webkit-border-radius: 15px;
  border: 3px solid #333333;
}

.moto-side-wheel {
  position: absolute;
  left: 215px;
  top: 205px;
  width: 15px;
  height: 74px;
  background: black;
  -webkit-border-radius: 10px;
  border: 3px solid #000;
}

.moto-side-wheel-axe {
  position: absolute;
  left: 124px;
  top: 235px;
  width: 95px;
  height: 10px;
  background: grey;
  border: 3px solid #333333;
}

.motorcycle-seats .seat {
  position: absolute;
  left: 70px;
  width: 48px;
  height: 60px;
  background: white;
  border: 3px solid #333333;
}

.motorcycle-seats .seat.front {
  top: 142px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
}

.motorcycle-seats .seat.rear {
  top: 212px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
}

.motorcycle-seats .seat.side {
  left: 139px;
  top: 191px;
  width: 61px;
  height: 88px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
}

/* Drawing a snowmobile */

.snowmobile-ski-left, .snowmobile-ski-right {
  position: absolute;
  left: 38px;
  top: 50px;
  width: 15px;
  height: 90px;
  background: black;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
    border: 3px solid #333;
  background-color: #333;
}

.snowmobile-ski-right {
  left: 135px;
}

.snowmobile-belt {
  position: absolute;
  left: 74px;
  top: 180px;
  width: 40px;
  height: 120px;
  background: black;
  -webkit-border-radius: 3px;
  border: 3px solid #333;
  background-color: #333;
}

.snowmobile-axis {
  position: absolute;
  left: 45px;
  top: 95px;
  width: 100px;
  height: 15px;
  background: #555;
  -webkit-border-radius: 5px;
  background-color: #666;
  border: 3px solid #333333;
}

.snowmobile-body-front {
  position: absolute;
  left: 59px;
  top: 80px;
  width: 70px;
  height: 130px;
  background: grey;
  -webkit-border-top-left-radius: 50px;
  -webkit-border-top-right-radius: 50px;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border: 3px solid #333333;
}

.snowmobile-body-rear {
  position: absolute;
  left: 65px;
  top: 170px;
  width: 58px;
  height: 100px;
  background: grey;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border: 3px solid #333333;
}

.snowmobile-handle {
  position: absolute;
  left: 54px;
  top: 115px;
  width: 80px;
  height: 4px;
  background: #555;
  -webkit-border-radius: 3px;
  border: 3px solid #333333;
}

.snowmobile-light {
  position: absolute;
  left: 80px;
  top: 78px;
  width: 28px;
  height: 7px;
  background: yellow;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  border: 3px solid #333333;
  border-bottom: none;
}

.snowmobile-cache-light {
  position: absolute;
  left: 80px;
  top: 85px;
  width: 28px;
  height: 15px;
  background: #555;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-left-radius: 14px;
  -webkit-border-bottom-right-radius: 14px;
  border: 3px solid #333333;
}

.snowmobile-seats .seat {
  position: absolute;
  left: 70px;
  width: 48px;
  height: 50px;
  background: white;
  border: 3px solid #333333;
  -webkit-border-radius: 10px;
}

.snowmobile-seats .seat.front {
  top: 142px;
  height: 60px;
}

.snowmobile-seats .seat.rear {
  top: 214px;
}

/* Drawing an ATV */

.atv-front-wheels {
  position: absolute;
  left: 49px;
  top: 90px;
  width: 140px;
  height: 60px;
  background: black;
  -webkit-border-radius: 12px;
  border: 3px solid #000;
}

.atv-rear-wheels {
  position: absolute;
  left: 49px;
  top: 200px;
  width: 140px;
  height: 60px;
  background: black;
  -webkit-border-radius: 12px;
  border: 3px solid #000;
}

.atv-body {
  position: absolute;
  left: 74px;
  top: 80px;
  width: 90px;
  height: 190px;
  background: grey;
  -webkit-border-radius: 25px;
  border: 3px solid #333333;
  background-color: #444;
}

.atv-body-front {
  position: absolute;
  left: 64px;
  top: 80px;
  width: 110px;
  height: 80px;
  background: grey;
  -webkit-border-radius: 20px;
  border: 3px solid #333333;
}

.atv-body-rear {
  position: absolute;
  left: 64px;
  top: 190px;
  width: 110px;
  height: 80px;
  background: grey;
  -webkit-border-radius: 15px;
  border: 3px solid #333333;
}

.atv-handle {
  position: absolute;
  left: 78px;
  top: 120px;
  width: 80px;
  height: 4px;
  background: #555;
  -webkit-border-radius: 3px;
  border: 3px solid #333333;
}

.atv-left-light, .atv-left-cache-light,
.atv-right-light, .atv-right-cache-light{
  position: absolute;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-left-radius: 14px;
  -webkit-border-bottom-right-radius: 14px;
  border: 3px solid #333333;
}

.atv-left-light {
  left: 80px;
  top: 75px;
  width: 28px;
  height: 16px;
  background: yellow;
}

.atv-left-cache-light {
  left: 80px;
  top: 81px;
  width: 28px;
  height: 10px;
  background: #555;
}

.atv-right-light {
  left: 130px;
  top: 75px;
  width: 28px;
  height: 16px;
  background: yellow;
}

.atv-right-cache-light {
  left: 130px;
  top: 81px;
  width: 28px;
  height: 10px;
  background: #555;
}

.atv-seats .seat {
  position: absolute;
  left: 93px;
  width: 50px;
  height: 45px;
  background: white;
  border: 3px solid #333333;
}

.atv-seats .seat.front {
  top: 162px;
  height: 50px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
}

.atv-seats .seat.rear {
  top: 215px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
}